
.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100vw;
  height: 100vh;
}

.login-content {
  width: 40rem;
  height: 30rem;
  margin: auto;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
  background-color: #1F2A37;
}

.login-content--logo {
  width: 10rem;
  height: 10rem;
}

.login-content--header {
  text-align: center;
  font-family: Helvetica;
  line-height: 1.5;
  background: rgb(141,155,235);
  background: linear-gradient(96deg, rgba(141,155,235,1) 20%, rgba(175,113,170,1) 52%, rgba(227,49,72,1) 100%);
  color: transparent;
  background-clip: text;
}

.login-content--button-container {
  display: flex;
  flex-direction: column;
}

.login-content--button-container > button {
  width: 300px;
  padding: 0.75rem 0 0.75rem 0;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  border-radius: 999rem;
  cursor: pointer;
}

.login-googlesso {
  font-weight: 400;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: medium;
  color: #1c1c1c;
  background-color: white;
  border: 0;
}

.googleLogo {
  margin-right: 0.5rem;
}

.login-continue {
  background: transparent;
  border: solid;
  border-width: 0.2rem;
  border-color: white;
  color: white;
  font-size: medium;
}

