.onboarding-waiver {
    position: relative;
}

.onboarding-waiver h3 {
    font-size: small;
    font-weight: normal;
    color: #ffffff;
    margin: 0.5%;
}

.onboarding-waiver-link {
    text-decoration: none;
    font-weight: bold;
    color: white;
}

.waiver-checkbox-row {
    width: 100%;
    display: flex;
    flex: none;
    justify-content: start;
}

.onboarding-waiver-checkbox {
    width: 1rem;
    cursor: pointer;
}

.error-message {
    color: rgba(175, 113, 170, 1);
    font-size: small;
    margin: 0.5%;
    margin-left: 2.5rem;
}
