html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.dashboard {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.dashboard-top-banner {
  text-align: center;
  background-color: #fff;
  color: var(--pmc-dark-blue);
  padding: 20px 10px;
  border-radius: 20px;
}

.dashboard-top-banner a {
  text-decoration: underline;
}

.dashboard-top-banner a:visited {
  color: var(--pmc-dark-blue)
}

.dashboard-container {
  width: 100%;
}

html {
  scroll-behavior: smooth;
}

.dashboard-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.welcome-message {
  font-style: italic;
}