html {
  scroll-behavior: smooth;
}

/* Event Card */

/* .card {
    margin-top: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 5px;

} */

.event-container {
  display: flex;
  flex-direction: row;
  /* align-items: center; */
  justify-content: space-between;
}

.event-details-column {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 20rem;
}

.event-title {
  color: #ffffff;
  font-size: xx-large;
  font-weight: bold;
}

.event-details {
  display: flex;
  padding: 1.5rem;
  border: 1px solid #a9a9a9;
  border-radius: 12px;
  text-align: left;
  align-items: flex-start;
  flex-wrap: wrap;
  color: white;
  flex-direction: column;
  gap: 5px;
  justify-content: space-between;
}

.icon {
  width: 20px;
  height: 20px;
  margin-right: 20px;
  font-size: 18px;
  text-align: center;
}

.icon-text {
  display: flex;
  align-items: center;
  margin-left: 10px;
  margin-bottom: 10px;
}

.icon-text div {
  display: flex;
  flex-direction: column;
}

.text-container {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.text-container h3 {
  margin: 0;
  margin-top: -5px;
  color: inherit;
  font-weight: bold;
}

.text-container h4 {
  margin: 0;
  line-height: 1.2;
  color: grey;
  font-size: smaller;
  font-weight: normal;
  padding-top: 2px;
}

.event-photo {
  border-radius: 8px;
  width: 60%;
  padding: 1rem;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.event-desc {
  padding: 1rem;
  text-align: left;
}

.event-desc h3 {
  font-size: x-large;
  color: #ffffff;
  flex-direction: column;
}

.event-desc p {
  color: rgba(169, 169, 169, 1);
}

.bottom-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.signup-button {
  color: #1c1c1c;
  border-radius: 20px;
  font-weight: 500;
  font-family: inherit;
  background: #f0f0f0;
  width: 100%;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: border-color 0.5s;
}

.signup-button:hover {
  border-color: black;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.1);
}

.signup-button:disabled {
  background: gray;
  cursor: not-allowed;
}

.signup-button:focus,
.signup-button:focus-visible {
  outline: 1px auto -webkit-focus-ring-color;
}

.signup-button-text {
  color: var(--pmc-black)
}

.signup-button-sorry-text {
  color: white;
}

@media screen and (max-width: 1350px) {
  .event-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }

  .event-photo {
    width: 100%;
  }

  .event-details-column {
    width: 100%;
  }

}