.w-50 {
    width: 40%;
}

p {
    margin-block: 0;
}

.profile {
    color: white;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.profile-space-around {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.profile-space-between {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.profile-name-pronouns {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
}

.profile-picture-wrapper {
    width: 15rem;
    height: 15rem;
    padding: 0.9rem;
    border-radius: 50%;
    border: 1px solid #333D6C;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}

.profile-picture {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    overflow: hidden;
}

.profile-pill-group {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.profile-pill {
    width: fit-content;
    height: fit-content;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-self: center;
    gap: 0.3rem;
    margin: 0.6rem 0;
    padding: 0.3rem 0.9rem 0.3rem 0.9rem;
    border: none;
    border-radius: 100rem;
    background-color: #333D6C;
    color: white;
}

.profile-why-pm {
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #333D6C;
    border-radius: 0.5rem;
    padding: 1.5rem;
    background-color: transparent;
    color: white;
    resize: none;
    font-family: inherit;
}