/* Modal Styles */
.event-registration-modal {
    background-color: #1d233f;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 39.3125rem;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    outline: none;
    text-align: center;
}

.event-registration-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.75);
}

.event-registration-modal-content {
    padding: 76px 50px;
}

/* Form Content */
.event-registration-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 41px;
}

.event-registration-form .logo {
    width: 70px;
    height: 56px;
}

h2 {
    font-size: 1.5rem;
    color: #ffffff;
}

/* Buttons */
.event-registration-form-buttons {
    display: flex;
    flex-direction: column;
    width: 70%;
    gap: 0.5rem;
}

@media screen and (max-width: 640px)  {
    .event-registration-modal {
        width: 100vw;
    }
}