/* Background and Text Color */

.bg-white {
    color: black;
    background-color: white;
}

.bg-dark-blue {
    background-color: #2E3556;
    color: white;
}

/* Buttons */

.pmc-button {
    border-color: transparent;
    min-width: 10rem;
    padding: 0.75rem;
    font-family: inherit;
    font-weight: 600;
    font-size: 0.9rem;
    cursor: pointer;
    border-radius: 100rem;
}

.pmc-button-white {
    background-color: #ffffff;
    color: #333D6C;
}

.pmc-button-transparent {
    background-color: transparent;
    color: #ffffff;
}

/* Forms */

.form-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 1rem;
}

.form-bg-dark-blue {
    --form-bg-color: #2E3556;
    --form-color: white;
}

.form-group {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.form-multi-cols .form-group {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 0.75rem;
}

.form-multi-cols .form-group-sm {
    width: 16rem;
}

.form-input {
    background-color: var(--form-bg-color, white);
    color: var(--form-color, black);
    width: 100%;
    box-sizing: border-box;
    border-radius: 100rem;
    border: none;
    padding: 0.5rem 0.75rem;
}

.form-input:valid {
    background-color: var(--pmc-purple);
    color: white;
}

.form-input:invalid {
    border: 0.25rem red;
}

.form-select {
    display: flex;
    flex-direction: column;
    align-items: start;
    background-color: var(--form-bg-color, white);
    color: var(--form-color, black)
    /*box-sizing: border-box;*/
    /*width: 100%;*/
    /*border-radius: 100rem;*/
    /*border: none;*/
    /*border-right: 0.5rem solid transparent;*/
}


.form-select:valid {
    background-color: var(--pmc-purple);
    color: white;
}