
.onboarding-form-input-container {
    width: 100%;
}

input {
    width: 100%;
    box-sizing: border-box;
    border-radius: 999rem;
    border: none;
    padding: 0.5rem 0.75rem;
    color: black;
    background-color: white;
}

input:valid {
    background-color: var(--pmc-purple);
    color: white;
}

span {
    font-size: small;
    margin-left: 0.5rem;
}
