:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;

  background-color: #3D4043;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --pmc-light-blue: #8D9BEB;
  --pmc-purple: #AF71AA;
  --pmc-red: #E33148;
  --pmc-black: #2E2E2E;
  --pmc-dark-purple: #445088;
  --pmc-light-grey: #DEDFE2;
}