
.Payment-container {
    /* width: 100%; */
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.Payment-text {
    color: var(--pmc-light-grey);
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    margin-left: 0;
    margin-right: 0;
    font-size: medium;
}
