.PaymentForm-content {
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: start;
    justify-items: center;
}

.PaymentForm-content--submit {
    width: 10rem;
    margin-top: 2rem;
    align-self: center;
    border: none;
    border-radius: 100rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
    background: #FFF;
    color: var(--pmc-dark-blue);
}

.PaymentForm-content--error {
    margin-top: 1rem;
    font-size: medium;
    align-self: center;
}